dialog[open]{
  padding: 100px 170px;
  position-area: center;
  font-size: 1.25rem;
  font-family:  sans-serif;
  background: #bba88f;
  border: none;
  color: white;
}
.dialog-inputs,
.control-btns{
  display: grid;
  gap: 10px;
}
.dialog-inputs{
  grid-template-columns: 1fr 3fr;
}

.dialog textarea,
#title-label{
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}
.dialog textarea,
.dialog input,
#priority{
  background: #bba88f;
}
#priority,
#due-date{
  border: none;
  outline: none;
  color: white;
}
.control-btns{
  grid-template-columns: 1fr 1fr;
  padding: 15px 0px; 
}
.control-btns button{
  border-radius: 0px;
  border: 1px solid;
  background: beige;
  font-family: "Science Gothic", sans-serif;
  padding: 20px 50px;
  font-size: inherit;
  cursor: pointer;
}