dialog[open]{
  padding: 110px 60px;
  position-area: center;
  font-size: 1.25rem;
  font-family:  sans-serif;
  background: #914a4a;
  border: 1px solid maroon;
  border-radius: 15px;
  color: white;
}
.dialog-inputs,
.control-btns{
  display: grid;
  gap: 10px;
}
.dialog-inputs{
  grid-template-columns: 1fr 3fr;
}

.dialog textarea,
#title-label{
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff97;
  font-size: 1.2rem;
}
.dialog textarea,
.dialog input,
#priority,
.project-title-input input{
  background: #914a4a; 
}
#priority,
#due-date,
.project-add input
{
  border: none;
  outline: none;
  color: white;
}
.control-btns{
  grid-template-columns: 1fr 1fr;
  padding: 15px 0px; 
}
.control-btns button{
  border-radius: 0px;
  border: 1px solid;
  border-radius: 10px;
  background: #ffb1b1;
  color: maroon;
  font-family: "Science Gothic", sans-serif;
  padding: 20px 50px;
  font-size: inherit;
  cursor: pointer;
}

.project-title-input{
  display: none;
}

.project-add  input{
  border-bottom: 1px solid;
  background: #d0bb9f;
  font-size: 1rem; 
}
.project-add button{
  border: none;
  font-size: inherit;
  cursor: pointer;
  border-radius: none;
  background: beige;
  padding: 3px 15px;
}
.project-add form{
  display: flex;
}

textarea::placeholder{
  font-size: .9rem;
  color: #ffffffc9;
}