*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2C2C2C;
  color: white;
  font-family: "Rubik", sans-serif;
}

.container,
.main,
.checklist-div,
.btn-div,
.task-main,
.project-titles,
.project-title-div,
.section,
.aside-buttons,
.section-title,
.header{
  display: grid;
}

.section-title,
.header{
  align-items: center;
}

.main,
.section,
.task-main,
.project-title-div{
  gap: 10px
}

.container{
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding: 40px 30px;
}
.header{
  grid-area: 1/2/1/3;
  border-radius: 15px;
  border: 1px solid grey;
  padding: 50px 20px;
  font-size: 2rem;
  font-family: "Science Gothic", sans-serif;
}
.aside{
  grid-area: 1/1/4/2;
  background: #d0bb9f;
  color: #2C2C2C;
  border-radius: 10px;
  padding: 25px;
}

.main{
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}
.section{
  background: #4a4a4a;
  color: beige;
  border-radius: 10px;
  padding: 15px;
  align-content: start;
}

.task-head{
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* display: flex;
  align-items: start;
  justify-content: space-between; */
}
.task-main{
  background: #5e5e5e;
  padding: 10px;
  border-radius: 10px;
}

.checklist-div{
  grid-template-columns: 1fr 10fr;
  align-items: center;
  justify-items: start;
}
.checklist-div > p{
  grid-area: 1/1/1/3;    
  padding-bottom: 7px;
}

.btn-div{
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.btn-div > button{
  align-self: center;
  padding: 3px 0px;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #c9b6a4;
}
.btn-div > input{
  align-self: center;
}

.notes{
  margin-left: 10%;
}

.project-titles{
  gap: 5px;
}
.project-title-div{
  grid-template-columns: 9fr 1fr 1fr;
}
.project-title-div > button{
  font-size: 1rem;
  background: none;
  border: 0px;
  border-radius: 3px;
  box-shadow: 3px 2px 4px 0px grey;
  padding: 8px;
  font-family: "Rubik", sans-serif;
  text-align: left;
}

.project-title-div > button,
.add-button,
.project-add-button{
  cursor: pointer;
}

.ptitle{
  padding-left: 3%;
  font-style: italic;
  font-family: monospace;
}

.project-titles,
.all-tasks,
.projects-btn,
.btn-div > button{
  cursor: pointer;
  border: none;
}
.project-titles >  button{
  font-size: 1rem;
  padding: 4px 15px;
  border-radius: 5px;
  text-align: left;
}
.all-tasks,
.projects-btn{
  font-size: 1.5rem;
  padding: 8px 15px;
  background: none;
  font-weight: bold;
  text-align: left;
  font-family: "Science Gothic", sans-serif;
}
.aside-buttons > h3{
  font-size: 1.7rem;
  border: none;
  padding: 8px 3px;
}

.aside-buttons{
  grid-template-columns: 4fr 1fr;
  gap: 4px;
  margin-bottom: 15px;
  align-items: center;
}
.add-button,
.project-add-button{
  border: 1px solid;
  background: none;
  font-size: 1.5rem;
  border-radius: 5px;
}

.high-priority{
  background: #333333;
}

.low-priority{
  background: #1619162b;
}

.cross-out{
  text-decoration: line-through;
  opacity: 0.5;
}