*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2C2C2C;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding: 40px 30px;
}
.header{
  grid-area: 1/2/1/3;
  border-radius: 15px;
  border: 1px solid grey;
  padding: 50px 20px;
  font-size: 2rem;
}
.aside{
  grid-area: 1/1/4/2;
  background: #d0bb9f;
  color: #2C2C2C;
  border-radius: 10px;
  padding: 25px;
}
.main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.section{
  background: #4a4a4a;
  color: beige;
  border-radius: 10px;
  padding: 15px;
  display: grid;
  gap: 10px;
  align-content: start;
}

.task-head{
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.task-main{
  background: #5e5e5e;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
}

.checklist-div{
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  justify-items: start;
}
.checklist-div > p{
  grid-area: 1/1/1/3;    
  padding-bottom: 7px;
}

.btn-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.btn-div > button{
  outline: none;
  border: none;
  font-size: 0.8rem;
  border-radius: 10px;
}

.notes{
  margin-left: 10%;
}