*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2C2C2C;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding: 40px 30px;
}
.header{
  grid-area: 1/2/1/3;
  /* background: #D0BB9F; */
  border-radius: 15px;
  border: 1px solid grey;
  padding: 50px 20px;
  font-size: 2rem;
}
.aside{
  grid-area: 1/1/4/2;
  background: #d0bb9f;
  color: #2C2C2C;
  border-radius: 10px;
  padding: 25px;
}
.main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.section{
  background: #4a4a4a;
  color: beige;
  border-radius: 10px;
  padding: 15px;
}